body {
    background-color: gainsboro;
}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}

bg-black {
    background-color: black !important;
}

.background-gif {
    z-index: -1;
}

.navbar-logo {
    width: 100% !important;
    max-width: 117px;
}

.error-field {
    color: red;
}

.z-5 {
    z-index: 5 !important;
}

@media screen and (max-width: 992px) {
    .navbar-logo {
        width: 50% !important;
    }
}